{% extends "components/navbar.html" %}
{% block content %}

<h1 class="text-center">Profile</h1>
<div class="container">
    <img src="/media/{{ user.avatar }}" alt="Profile Image" class="img-thumbnail">
    <h1>{{user.username}}</h1>
    <p>{{user.email}}</p>
    <p>{{user.first_name}}</p>
    <p>{{user.last_name}}</p>
    <p>{{user.date_joined}}</p>
    <p>{{user.age}}</p>
    <p>{{user.bio}}</p>
</div>

<div class="container">
    <button class="btn btn-danger">
        <a href="/logout/" style="color: white;">Logout</a>
    </button>
</div>

{% endblock %}
