{% extends "components/navbar.html" %}
{% block content %}

<h1>Products</h1>
<!--{% for category in product.categories.all %}-->
<!--    <p> {{ category }}</p>-->
<!--{% endfor %}-->
<img src="/media/{{product.image}}" alt="" width="250">
    {% for category in product.categories.all %}
        <p> {{ category }}</p>
    {% endfor %}
<h2> {{ product.title }}</h2>
<p>{{ product.description }}</p>
Size: <p>{{ product.size }}</p>
Price: <h4>{{ product.price }}</h4>

<h2>Tags:</h2>

{% for tag in product.tags.all %}
    <p>{{ tag }}</p>
{% endfor %}


<h2>Reviews:</h2>

{% for review in product.reviews.all %}
    <p>{{ review.text }}</p>
{% endfor %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Create Review" class="btn btn-primary">
</form>

{% endblock %}